<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Street</th>
  <th>City</th>
  <th>State</th
  <th>Country</th>
  <th>Phone Number</th>
  <th></th>
  <th></th>
</tr>
<% customers.each(function(customer) { %>
  <tr>
    <td><a href="#customers/<%= customer.id %>"><%= customer.full_name() %></td>
    <td><%= customer.escape('email_address') %></td>
    <td><%= customer.escape('address_street') %></td>
    <td><%= customer.escape('address_city') %></td>
    <td><%= customer.escape('address_state') %></td>
    <td><%= customer.escape('address_country') %></td>
    <td><%= NumberHelpers.number_to_phone(customer.escape('phone_number')) %></td>
    <td class="button-group">
      <a class="btn" id="edit" href="#customers/<%= customer.id %>/edit">Edit</a>
  	</td>
    <td class="button-group">
    	<a class="cancel_btn" id="delete" href="#customers" data-id=<%= customer.id %>>
	 		Delete
    	</a>
    </td>
  </tr>
<% }) %>