<h1 id="logo"><%= Profile.first.store_name || current_store.name %></h1>
<nav class="store-top-nav group">
  <ul class="group">
    <li><%= link_to 'Home', root_url, remote: true, "data-type" => :html %></li>
    <li class='has-dropdown'><%= link_to 'Categories', "#" %>
      <ul class='is-dropdown'>
        <% Category.all.each do |category| %>
          <%= link_to "<li>#{category.title}</li>".html_safe, category_url(category), remote: true, "data-type" => :html %>
        <% end %>
      </ul>
    </li>
    <li><%= link_to 'Products', products_url, remote: true, "data-type" => :html %></li>
    <li><%= link_to 'Cart', cart_url, remote: true, "data-type" => :html %></li>
  </ul>
</nav>