<section class="full-product group">
  <aside class="product-big-image left">
    <%= image_tag product.images.first.photo.url(:big) %>
  </aside>
  <section class="product-details right">
    <h2 class="product-title"><%= product.title %></h2>
    <h4 class="product-price">
      <%= number_to_currency product.price %>
      <span class="old-price">
        <%= number_to_currency(product.old_price) unless product.old_price.blank? %>
      </span>
    </h4>
    <div class="button-group product-buy">
      <%= link_to 'Add to Cart', cart_product_url(product), method: :PUT, class: 'btn cancel_btn' %>
    </div>
    <p class="product-description">
      <%= product.description %>
    </p>
  </section>
</section>