<h1>Orders</h1>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>Order ID</th>
    <th>Customer Name</th>
    <th>Payment Status</th>
    <th>Fullfilment Status</th>
    <th>Total Price</th>
    <th></th>
  </tr>
  <% orders.each(function(order) { %>
    <tr>
      <td><a href="#orders/<%= order.id %>"><%= order.id %></a></td>
      <td>
        <%= order.get("customer").full_name() %>
      </td>
      <td><%= order.escape("payment_status") %></td>
      <td><%= order.escape("fulfillment_status") %></td>
      <td>$<%= order.escape("price") %></td>
      <td class="button-group">
      	<a class="cancel_btn" id="delete" href="#orders" data-id=<%= order.id %>>
		 		Delete
      	</a>
    	</td>
    </tr>
  <% }) %>
</table>
<a href="#orders/new">New Order</a>