<h1>Orders</h1>
<table border="0" cellspacing="5" cellpadding="5">
  <tr>
    <th>Customer Name</th>
    <th>Payment Status</th>
    <th>Fullfilment Status</th>
    <th>Total Price</th>
    <th></th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.customer.full_name %></td>
      <td><%= order.payment_status %></td>
      <td><%= order.fulfillment_status %></td>
      <td><%= number_to_currency(order.price) %></td>
      <td><%= link_to "Delete", admin_order_url(order), method: :delete %></td>
    </tr>
  <% end %>
</table>
<%= link_to "New Order", new_admin_order_url %>