<div class="address">
  <h3>Address</h3>
  <div class="form-group">
    <label for="street">Street</label>
    <input type="text" name="<%= key %>[address_street]" value="<%= model.address_street %>" id="street"></textarea>
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" name="<%= key %>[address_city]" value="<%= model.address_city %>" id="city"></textarea>
  </div>
  <div class="form-group">
    <label for="state">State</label>
    <input type="text" name="<%= key %>[address_state]" value="<%= model.address_state %>" id="state"></textarea>
  </div>
  <div class="form-group">
    <label for="city">Postal / Zip Code</label>
    <input type="text" name="<%= key %>[address_postal_code]" value="<%= model.address_postal_code %>" id="city"></textarea>
  </div>
  <div class="form-group">
    <label for="country">Country</label>
    <input type="text" name="<%= key %>[address_country]" value="<%= model.address_country %>" id="country"></textarea>
  </div>
  <div class="form-group">
    <label for="phone_number">Phone Number</label>
    <input type="text" name="<%= key %>[phone_number]" value="<%= model.phone_number %>" id="phone_number"></textarea>
  </div>
</div>
