<div id="cart">
  <h2>You recieved <strong><%= number_to_currency(@order.price) %></strong> from <%= @order.customer.full_name %>!</h2>

  <article>
    <h2>Products</h2>
    <% @order.order_products.each do |order_product| %>
      <p class="product-name">
        <%= order_product.quantity %> &times; <%= order_product.product.title %>
      </p>
    <% end %>

    <h2>Shipping Address</h2>
    <%= render partial: "shared/address", locals: { model: @order.customer } %>
  </article>
</div>