<form method="POST" action="<%= @category.persisted? ? admin_category_url(@category) : admin_categories_url %>">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="category[title]" value="<%= @category.title %>" id="title">
  </div>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <%= '<input type="hidden" name="_method" value="PUT">'.html_safe if @category.persisted? %>
  <div class="form-group button-group">
    <a href="<%= admin_categories_url %>" class="btn cancel_btn">Cancel</a>
    <input type="submit" value="Save">
  </div>
</form>