<form method="POST" action="<%= @product.persisted? ? admin_product_url(@product) : admin_products_url %>" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="product[title]" value="<%= @product.title %>" id="title">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="product[description]" rows="8" cols="40"><%= @product.description %></textarea>
  </div>
  <div class="form-group">
    <label for="type">Category</label>
    <select name="product[category_id]" id="category">
      <% Category.all.each do |category| %>
        <option value="<%= category.id %>" 
          <%= "selected" if @product.category_id == category.id %>><%= category.title %></option>
      <% end %>
    </select>
  </div>
  <div class="form-group">
    <label for="vendor">Vendor</label>
    <input type="text" name="product[vendor]" value="<%= @product.vendor %>" id="vendor">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" name="product[price]" min="0.01" step="0.01" value="<%= @product.price %>" id="price">
  </div>
  <div class="form-group">
    <label for="sku">SKU</label>
    <input type="text" name="product[sku]" value="<%= @product.sku %>" id="sku">
  </div>
  <div class="form-group">
    <label for="barcode">Barcode</label>
    <input type="text" name="product[barcode]" value="<%= @product.barcode %>" id="barcode">
  </div>
  <div class="form-group">
    <label for="visible">Visible?</label>
    <input type="checkbox" name="product[visible]" value="<%= @product.visible %>" id="visible" checked>
  </div>

  <div class="form-group">
    <label for="image_upload">Image</label>
    <input type="file" name="product[images_attributes][][photo]" id="image_upload">
  </div>

  <%= '<input type="hidden" name="_method" value="PUT">'.html_safe if @product.persisted? %>

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div class="form-group button-group">
    <a href="<%= admin_products_url %>" class="btn cancel_btn">Cancel</a>
    <input type="submit" value="Save">
  </div>
</form>