<h3><%= product.title %></h3>
<div class="info">
  <strong>Category: </strong><%= product.category %>
</div>
<div class="info">
  <strong>Description: </strong><%= product.description %>
</div>
<div class="info">
  <strong>Price: </strong><%= number_to_currency(product.price) %>
</div>
<div class="info">
  <strong>Vendor: </strong><%= product.vendor %>
</div>
<div class="info">
  <strong>SKU: </strong><%= product.sku %>
</div>
<div class="info">
  <strong>Barcode: </strong><%= product.barcode %>
</div>