<h3><%= product.title %></h3>
<% unless product.images.empty? %>
  <div class="product_image">
    <%= image_tag(product.images.first.photo.url(:medium)) %>
  </div>
<% end %>
<div class="info">
  <strong>Category: </strong><%= link_to product.category.title, admin_category_url(product.category) %>
</div>
<div class="info">
  <strong>Description: </strong><%= product.description %>
</div>
<div class="info">
  <strong>Price: </strong><%= number_to_currency(product.price) %>
</div>
<div class="info">
  <strong>Vendor: </strong><%= product.vendor %>
</div>
<div class="info">
  <strong>SKU: </strong><%= product.sku %>
</div>
<div class="info">
  <strong>Barcode: </strong><%= product.barcode %>
</div>