<div id="cart">
  <% if @cart.cart_products.to_a.size > 0 %>
    <h1>Your cart</h1>
    <form action="/cart" method="post" id="cartform">
      <input type="hidden" name="_method" value="PUT">
      <table cellpadding=25>
        <thead>
          <tr>
            <th class="image">&nbsp;</th>
            <th class="item">&nbsp;</th>
            <th class="quantity">Quantity</th>
            <th class="price">Price</th>
            <th class="remove">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          <% @cart.cart_products.each do |cart_product| %>
          <% product = cart_product.product %>
            <tr>
              <td class="image">
                <div class="product_image">
                  <%= link_to image_tag(product.images.first.photo.url(:thumb)).html_safe, product_url(product), remote: true, "data-type" => "html" %>
                </div>
              </td>
              <td class="item">
                <%= link_to "<strong>#{product.title}<strong>".html_safe, product_url(product), remote: true, "data-type" => "html" %>
              </td>
              <td class="qty">
                <input type="text" size="4" name="updates[<%= cart_product.id %>]" value="<%= cart_product.quantity %>">
              </td>
              <td class="price"><%= number_to_currency(product.price) %></td>
              <td class="remove">
                <%= link_to "Remove", cart_product_url(product), method: :delete, data: { type: :json }, remote: true, class: "remove-cart-item" %>          </td>
            </tr>
          <% end %>
            <tr class="summary">
              <td class="image">&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td class="price">
                <span class="total">
                  <strong><%= number_to_currency(@cart.total_price) %></strong>
                </span>
              </td>
              <td>&nbsp;</td>
            </tr>
        </tbody>
      </table>

      <div class="checkout-buttons group">
        <label for="note">Add special instructions for your order...</label>
        <textarea id="note" name="note" rows="10" cols="50"></textarea>
      </div>

      <div class="button-group group">
        <input type="submit" id="checkout" class="btn" name="checkout" value="Check out">
        <input type="submit" id="update-cart" class="btn" name="update" value="Update" data-remote="true" data-type="html">
      </div>
    </form>
  <% else %>
    <h2>Your cart is empty!</h2>
  <% end %>
</div>