<aside>
	<nav class="admin">
		<h2>Your store</h2>
		<ul>
			<%= link_to '<li>Dashboard</li>'.html_safe, admin_root_url %>
			<%= link_to '<li>Orders</li>'.html_safe, admin_orders_url %>
			<%= link_to '<li>Customers</li>'.html_safe, admin_customers_url %>
			<%= link_to '<li>Products</li>'.html_safe, admin_products_url %>
			<%= link_to '<li>Categories</li>'.html_safe, admin_categories_url %>
		</ul> 
	</nav>
</aside>