<%= render partial: 'admin/shared/top_nav' %>
<div class="container group">
	<%= render partial: 'admin/shared/side_nav' %>
	<section class="admin-content">
    <%= render partial: 'shared/flash_messages' %>
		<%= yield %>
	</section>
</div>
<%= parent_layout 'application' %>