<%= render partial: 'admin/shared/top_nav' %>
<div class="container group">
	<%= render partial: 'admin/shared/side_nav' %>
	<section id="main-content" class="admin-content">
    <%= render partial: 'shared/flash_messages' %>
		<%= yield %>
	</section>
</div>
<% content_for(:admin_js) do %>
	<%= javascript_include_tag "admin/admin" %>
  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <script type="text/javascript">
    google.load('visualization', '1.0', {'packages':['corechart']});
  </script>
<% end %>
<%= parent_layout 'application' %>