<!DOCTYPE html>
<html>
<head>
  <title>Shopkick</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<%= yield(:admin_js) if content_for?(:admin_js) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= yield %>
</body>
</html>