<%= render partial: 'store/shared/top_nav' %>
<section class="store-content group">
  <%= render partial: 'shared/flash_messages' %>
  <%= yield %>
</section>
<% content_for(:admin_js) do %>
	<%= javascript_include_tag "store/store" %>
<% end %>
<%= parent_layout 'application' %>